<body>
    {{!-- code for search bar --}}
  <div class="search">
    <h1 class="site-name">Youtube Vanced</h1>
    <form action="/lookup" method="POST">
      <input type="text" placeholder="Search Videos" name="VideoName" />
      <button>Search</button>
    </form>
  </div>

    {{!-- code to display each video and its details --}}
  {{#each Vid}}
    <div class="container">
      <div class="video">
        <img
          src="https://img.youtube.com/vi/{{this.videoId}}/maxresdefault.jpg"
        />
      </div>
      <div class="details">
        <p style="font-size: 32px;"><b>{{this.title}}</b></p>
        <p>Channel: <b>{{this.channel}}</b></p>
        <p>Uploaded on: {{this.uploadDate}}</p>
        <p><a href="/VidDetail/{{this._id}}"><button>View Details</button></a></p>
      </div>
    </div>
    <hr />
  {{/each}}

    {{!-- code for search bar results --}}
  {{#each videoid}}
    <div class="container">
      <div class="video">
        <img
          src="https://img.youtube.com/vi/{{this.videoId}}/maxresdefault.jpg"
        />
      </div>
      <div class="details">
        <p style="font-size: 32px;"><b>{{this.title}}</b></p>
        <p>{{this.channel}}</p>
        <p>Uploaded on: {{this.uploadDate}}</p>
        <p><a href="/VidDetail/{{this._id}}"><button>View Details</button></a></p>
      </div>
    </div>
    <hr />
  {{/each}}

</body>

